@inherits JssComponentBase

<div class="pt-3" id="@StyleguideUtilities.GetMarkupId(Component)" data-e2e-id="@E2eId">
    <Text Tag="h4"
          Field="@Component.Fields["heading"]" />
    <RichText Field="@Component.Fields["description"]" />

    <p>
        <small>
            Implementation: <code>/src/components/@(Component.ComponentName).razor</code>
            <br />
            Definition: <code>/sitecore/definitions/components/@(Component.ComponentName).razor</code>
        </small>
    </p>
    <div class="border p-2">@ChildContent</div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string E2eId { get; set; }
}
