@inherits JssComponentBase

@*
    Helper component that displays explanatory information and where to find the definitions
    of styleguide specimens.
*@
<div class="pt-3" id="@StyleguideUtilities.GetMarkupId(Component)" data-e2e-id="@E2eId">
    <TextField Tag="h4"
               Field="@Component.Fields["heading"]" />
    <RichText Field="@Component.Fields["description"]" />

    <p>
        <small>
            Implementation: <code>/src/JssBlazor.Styleguide/Components/@(Component.ComponentName).razor</code>
            <br />
            Definition:
            <code>/sitecore/definitions/components/@(Component.ComponentName).razor</code>
        </small>
    </p>
    <div class="border p-2">@ChildContent</div>
</div>

@code {
    [Parameter]
    public string E2eId { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
