@inherits JssComponentBase

<Styleguide_Specimen Component="@Component"
                     E2eId="styleguide-componentparams">
    <p class="@_cssClass">
        The CSS class of this paragraph (<code>@_cssClass</code>) is set using a param
    </p>
    <div>
        @* Note that all params come in as string values, like this boolean-like param here: *@
        useCallToAction param: <code>@_useCallToAction</code>
        <br />
        param type: <code>@_useCallToAction.GetType().Name</code>
        @if ("true".Equals(_useCallToAction))
        {
            <div class="alert alert-info">the call to action is shown</div>
        }
    </div>
    <p>columns param: @_columns</p>
    <div class="row">
        @for (var i = 0; i < _columns; i++)
        {
            <div @key="GetColumnKey(i)" class="col-sm">
                Column @i
            </div>
        }
    </div>
</Styleguide_Specimen>

@code {
    private string _cssClass;
    private string _useCallToAction;
    private int _columns;

    protected override void OnParametersSet()
    {
        _cssClass = Component.Params["cssClass"];
        _useCallToAction = Component.Params["useCallToAction"];
        _columns = int.Parse(Component.Params["columns"]);
    }

    private string GetColumnKey(int columnIndex) => $"col-{columnIndex}";
}
